<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["GestioneCommerciale.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>

    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
        // Questa riga trasforma lo stream di Blazor in dati leggibili dal browser
        const arrayBuffer = await contentStreamReference.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
    
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
    
        // Pulizia
        anchorElement.remove();
        URL.revokeObjectURL(url);
        }


    </script>

    <script>
        window.openInNewTab = (url) => {
        window.open(url, '_blank');
        };

	</script>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>


</html>
